<!DOCTYPE html>
<html>
<body>
    Meter v{{ version }}
    <h1>Links</h1>
    <h2>HTML format</h2>
    <a href="meter">Meter values with full details</a><br>
    <a href="roi">Region Of Interest image</a><br>
    <h2>JSON format</h2>
    <a href="meter?format=json">Meter values</a><br>
    <h2>Set previous value</h2>
    Set previous value by &lt;ip&gt;:&lt;port&gt;/setPreviousValue.html?meter=&lt;name&gt;value=&lt;value&gt;
    <br><br>
    Example: 192.168.10.23:3000/setPreviousValue?name=total&value=452.9124
    <h2>Reload configuration</h2>
    <a href="reload">Reload</a>
</body>
</html>