<!DOCTYPE html>
<html>
<body>
    <h1>Meters</h1>
    {% for meter in result.meters %}
    <p>{{ meter.name }}: {{ meter.value }} {{ meter.unit }}</p>
    {% endfor %}
    <h2>Image</h2>
    <img src=/image_tmp/final.jpg></img></p>
    <h2>Digital counters</h2>
    {% for image, value in result.digital_results.items() %}
    <img src=/image_tmp/{{ image }}.jpg></img>{{ value }}
    {% endfor %}
    <h2>Analog counters</h2>
    {% for image, value in result.analog_results.items() %} 
    <img src=/image_tmp/{{ image }}.jpg></img>{{ value }}
    {% endfor %}
</body>
</html>